<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Database Oeuvre</title>
    <meta name="description" content="Data forms of paintings online.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    
    <style>
      body{
        display:grid;
        grid-template-rows: 5vh 90vh 5vh;
      }
    </style>
  </head>
  <body style="width:100vw">
    <header style="margin:0 2.5vw;width:95vw;" class="flex items-center justify-between">
      <select id="input-select" class="code ttu f7 w-50 w-25-ns"></select>
      <input type="range" min="1" max="50" step="1" value="6" id="input-range" class="w-50 w-25-ns">
    </header>

    <main>                    
      <section style="z-index: 20" class="artworks w-100 h-100 flex items-center justify-center">
        <div id="artworks" style="height:90vh;width:95vw;overflow-x:scroll;" class="list pa0 ma0 flex flex-row"></div>
      </section>
      <section id="preview" style="pointer-events: none;" class="flex justify-center items-center w-100 vh-100 absolute top-0 left-0">
      </section>
    </main>

<footer class="w-100 flex justify-center items-center">
      <ul style="width: 95%">
        <li class="item underline gray sans-serif f7 dib w-25 fl">
          <button id="year" class="dark-gray bg-white b pa1 bw0 pr3 bl dim ttl small-caps">year</button>
        </li>
        <li class="item underline gray sans-serif f7 dib w-25 fl">
          <button id="hue" class="dark-gray bg-white b pa1 pr3 bw0 bl dim b-dark-gray ttl small-caps">hue</button>
        </li>
        <li class="item underline gray sans-serif f7 dib w-25 fl">
          <button id="saturation" class="dark-gray bg-white b pa1 pr3 bw0 bl dim b-dark-gray ttl small-caps">saturation</button>
        </li>
        <li class="item underline gray sans-serif f7 dib w-25 fl">
          <button id="lightness" class="dark-gray bg-white b pa1 pr3 bw0 bl dim b-darkgray ttl small-caps">lightness</button>
        </li>
      </ul>
    </footer>

  </body>
</html>
